.nav-tabs {
  width: 700px;

}

.nav-tabs .nav-link:hover {
  background: #bddbfa;
}

.activebutton {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa;
  border: 1px solid #84bbf3;
  text-shadow: 0 1px 0 #528ecc;
  color: midnightblue;
}
